{% extends 'sites/index.html' %}
{% load static %}
{% block content %}
<div id="login_container">
    <h2>Login</h2>
    <form>
        <div class="input-group mt-1 mb-2">
            <input type="text" class="form-control" id="input_username_login" name="username" placeholder="Username" required>
          </div>      
          <span class="badge bg-danger" id="login_username_error_badge">Feld bitte ausfüllen</span>
          <div class="input-group my-1 mb-2">
            <input type="password" class="form-control" id="input_password_login" name="password" placeholder="Passwort" required>   
          </div>
          <span class="badge bg-danger" id="login_password_error_badge">Feld bitte ausfüllen</span>
          {% for message in messages %}
              <div class="alert alert-danger text-dark text-center m-2 p-2" role="alert">
                  {{ message }}
              </div>
          {% endfor %}
          <p class="m-0">Noch kein Konto, hier <a href="{% url 'signup' %}">registrieren</a></p>
          <button type="button" class="btn btn-success mt-2" id="login_submit_btn">Einloggen</button>
    </form> 
</div>
<div id="login_sub_container">
    <p id="login_sub_text" class="text-light">
        Es wird Zeit, dein Tagebuch weiter auszubauen.
        <br>
        &nbsp;&nbsp; Schnell einloggen, Ihre Pflanzen warten schon auf Sie.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Komme noch heute unter die Top Zehn deiner Region.
    </p>
      <div id="my_carousel_login">
        {% for photo in photo_number %}
        <div class="my_slide_login"><img src="{% static 'Bilder/'|add:photo' %}"></div>
        {% endfor %}  
      </div>
</div>
{% endblock content %}