{% extends 'sites/index.html' %}
{% load static %}
{% block content %}
<div id="login_register_container">
    <h2>Registrieren</h2>
    <form method="post" action="{% url 'register' %}">
        <label for="username">Benutzername:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password1">Passwort:</label>
        <input type="password" id="password1" name="password1" required><br>

        <label for="password2">Passwort bestätigen:</label>
        <input type="password" id="password2" name="password2" required><br>

        <button type="submit">Registrieren</button>
    </form>
</div>
{% endblock content %}